.eslintcache
.vscode
.idea
.awcache
npm-debug.log
.cache-loader
node_modules
public
reports/coverage-stats.txt
dist
.history
.DS_Store
coverage/
devtools/.DS_Store
.angulardoc.json
devtools/utils/publish.sh
./**/*.log
*.log
GIT_HEAD
GIT_TAG
.eslintcache
